<launch>
  <arg name="LDV" default="2" doc="Left /dev/videoX" />
  <arg name="RDV" default="4" doc="Right /dev/videoX" />
  <arg name="ResX" default="640" doc="ResX" />
  <arg name="ResY" default="480" doc="ResY" />
  <arg name="Calibrated" default="true" doc="If True, use calibration in /config/Live "/>
  <arg name="Show" default="true" doc="If True, launch image viewer nodes"/>
  
  <group ns="stereo">
  
  <node name="left" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video$(arg LDV)" />
    <param name="image_width" value="$(arg ResX)"/>
    <param name="image_height" value="$(arg ResY)"/>
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="cam_frame" />
    <param name="io_method" value="mmap"/>
    <param name="camera_info_url" value="file://$(find isaac_ur5_cam)/config/Live/ROSLeft.yaml" if="$(arg Calibrated)"/>
    <param name="camera_name" value="left"/>
  </node>
  
  <node name="right" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video$(arg RDV)" />
    <param name="image_width" value="$(arg ResX)"/>
    <param name="image_height" value="$(arg ResY)"/>
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="cam_frame2" />
    <param name="io_method" value="mmap"/>
    <param name="camera_info_url" value="file://$(find isaac_ur5_cam)/config/Live/ROSRight.yaml" if="$(arg Calibrated)"/>
    <param name="camera_name" value="right"/>
  </node>
  
  </group>
  
  <group if="$(arg Show)">
  
  <node name="image_viewer_1" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/stereo/left/image_raw"/>
    <param name="autosize" value="true" />
  </node>
  
  <node name="image_viewer_2" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/stereo/right/image_raw"/>
    <param name="autosize" value="true" />
  </node>
  
  </group>
  
</launch>
